.mini-star {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  opacity: 0;
}

@keyframes flyStar {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translate(var(--end-x), var(--end-y)) rotate(var(--rotation))
      scale(0.2);
  }
}

.pulse {
  animation: pulseEffect 0.6s ease-in-out;
}

@keyframes pulseEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
