@import 'tailwindcss';

:root {
  --color-background: #0a0a0a;
  --color-background-secondary: #1d1d1d;
  --color-notification: #101010;
  --color-border: #313131;
  --color-text: #5a5a5a;
  --color-background-profile: #181818;
}

body {
  background-color: var(--color-background);
}

img {
  cursor: pointer;
}

.unselectable {
  user-select: none;
}

.scrollbar-no-track::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
